@import "../../variables.scss";

.card {
  height: 200px;
  width: 320px;
  background-color: $white;
  color: $black;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
