@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

html,
body {
  height: 100%;
  font-size: 16px; /* for rems */
}
